body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.top{
    display:flex;
    margin: 20px;
}
a{
    font-weight: 600;
}

.first
{
  width: 50%;

}

.first h1{
    font-size: 50px;
    color: rgb(70, 66, 66);
    
    
}

.first p{
    color: rgb(70, 66, 66);
    font-size: 20px;
    margin-bottom: 40px;
    
}

.first img{
    width: 80%;
}


h1 span{
    color: orange;

}

.order {
   
   margin-top: 50px;
  text-decoration: none;
  color:white;
  background-image: linear-gradient(rgb(251, 60, 2),rgb(228, 201, 84));
  padding: 10px 25px;
  border-radius: 30px;
}

.describe{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    display:flex;
    padding:20px;
}

.second
{
  width: 50%;
  padding: 20px;


}

.second h3{
    font-size: 40px;
    
    
}

.second p{
    
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 100px;
    
}

.second img{
    width: 60%;
    padding-left: 150px;
}

.recipe {
    margin-bottom: 55px;;

}
.recipe h1{
 text-align: center;
 color: rgb(70, 66, 66);
 font-weight: 600;
}
.recipe p{
    text-align: center;
   }
.main {
    display: flex;

}
.third p{ 
    text-align:start;
}
.third{
    width: 25%;
    padding: 10px;
    margin-left: 50px;;
    box-shadow: 10px 10px 40px rgb(90, 88, 88);
    border-radius: 20px;

}
.third img {
    width: 100%;
}

.subscriber{
    padding: 40px;
    margin: 40px 30px;
    display: flex;
    box-shadow: 10px 10px 40px rgb(90, 88, 88);
    border-radius: 20px;


}

.fourth{
    width:33.33%;
    margin-left:100px ;
}

.fourth h1{
    font-weight: 600;
}

.network{
    background-color:black ;
    color: white;
    padding: 20px;
    padding-bottom: 80px;
    
}
.network h1{
    font-weight: 600;
    text-align: center;
    color:grey;
}

.network p{
    font-size: 20px;
    text-align: center;
}